:root {
    --red-color: #EA2B1F;
    --yellow-color: #F7D13B;
    --orange-color: #EBA433;
    --text-color: #100B00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 2.2rem;
    font-family: 'Poppins', sans-serif;
    margin: 20px;
}

.searchBarOrderFilter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}