.recipeDetail {
    padding: 24px;
}

.recipeDetail-innercontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.recipeDetail-info {
    width: 40%;
}

.recipeDetail-info h2 {
    text-transform: capitalize;
    font-size: 2.2rem;
    font-weight: bold;
}

.recipeDetail-name-hs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.recipeDetail-type {
    display: flex;
    justify-content: flex-start;
    padding-left: 24px;
}

.recipeDetail-type span {
    font-size: 1.4rem;
    background-color: var(--yellow-color);
    padding: 4px;
    border-radius: 8px;
    margin-right: 8px;
}

.recipeDetail-hs {
    margin-left: 40px;
    position: relative;
}

.recipeDetail-hs > img {
    display: inline-block;
    width: 36px;
    height: 36px;
}

.recipeDetail-hs > span {
    font-size: 1.2rem;
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
}

.recipeDetail-diets {
    display: flex;
    justify-content: flex-start;
    margin-left: 12px;
}

.recipeDetail-diets > span {
    margin: 20px 10px;
    font-size: 1.2rem;
    background-color: #F8DEB5;
    padding: 4px;
    border-radius: 8px;
}

.recipeDetail-desc, .recipeDetail-desc > b, .recipeDetail-desc > a {
    font-size: 1.6rem;
}

.recipeDetail-desc {
    padding: 20px 8px 0 8px;
}

.recipeDetail-desc > b {
    font-weight: bold;
    color: var(--red-color);
}

.recipeDetail-desc > a {
    text-decoration: none;
    color: var(--text-color);
    cursor:text;
}

.recipeDetail-innercontainer > figure {
    width: 50%;
    padding: 20px;
}

.recipeDetail-innercontainer > figure > img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.recipeDetail-instr {
    display: block;
    padding: 40px 60px;
}

.recipeDetail-instr > .instr-text {
    font-size: 2rem;
    cursor: pointer;
}

.instructions-list {
    margin: 16px;
}

.instructions-list > li {
    font-size: 1.4rem;
    margin-top: 12px;
}

.cooking-steps-string {
    font-size: 1.4rem;
    margin: 20px 28px;
}